{% extends 'layout.html.twig' %}

{% block main %}

    <h3>List players</h3>
    <br/>
    <section>

        {% for player in players %}
            <div>{{ player.name }}</div>
        {% endfor %}

    </section>

{% endblock %}
