{% extends 'layout.html.twig' %}

{% block main %}

    <h3>List players</h3>
    <br/>
    <section>

        {% for player in players %}
            <div>
                <span>{{ player.name }}</span>
                <span>[<a href="{{ path('tournoi_player_remove', {'uuid': player.uuid}) }}">x</a>]</span>
            </div>
        {% endfor %}

    </section>

{% endblock %}
