{% extends 'layout.html.twig' %}

{% block main %}

    <h3>Create a tournament</h3>
    <br/>
    <section>

        <form action="{{ path('tournoi_tournament_create') }}" method="POST">

            <div>
                <label>Nom du tournoi</label>
                <input type="text" name="name" value="">
            </div>

            <button type="submit">Valider</button>
        </form>

    </section>

{% endblock %}
