{% extends 'layout.html.twig' %}

{% block main %}

    <h3>List tournaments</h3>
    <br/>
    <section>

        {% for tournament in tournaments %}
            <div>
                <span>{{ tournament.name }}</span>
                <span>[<a href="{{ path('tournoi_tournament_detail', {'uuid': tournament.uuid}) }}">détail</a>]</span>
                <span>[<a href="{{ path('tournoi_tournament_remove', {'uuid': tournament.uuid}) }}">x</a>]</span>
            </div>
        {% endfor %}

    </section>

{% endblock %}
